doctype html
html(lang='en=GB')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='A PHP Testing Framework for the 21st Century')
    meta(name='author', content= "James Dinsdale")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Phillip | A PHP Testing Framework for the 21st Century

    != css('/')

  body
    include /templates/_header
    
    main
      include /templates/_sidebar
      
      section.content
        block content
        
    include /templates/_footer

    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js')
    script
      | (function(P,h,i,L,l,I,p){P['GoogleAnalyticsObject']=l;P[l]=P[l]||function(){(P[l].q=P[l].q||[]).push(arguments)},P[l].l=1*new Date();I=h.createElement(i),p=h.getElementsByTagName(i)[0];I.async=1;I.src=L;p.parentNode.insertBefore(I,p)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-34975520-2', 'auto');ga('send', 'pageview');hljs.initHighlightingOnLoad();
