doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='A PHP Testing Framework for the 21st Century')
    meta(name='author', content= "James Dinsdale")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Phillip | A PHP Testing Framework for the 21st Century

    != css('/')

  body
    include /templates/_header
    
    main
      include /templates/_sidebar
      
      section.content
        block content
        
    include /templates/_footer

    script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js')
    script hljs.initHighlightingOnLoad();
    //- != js('/')
