extends /layouts/_base

block content
  script(src='https://asciinema.org/a/f4z29pq0nxw2fbztdc9eai2j6.js', id='asciicast-f4z29pq0nxw2fbztdc9eai2j6', async)

  :marked
    Phillip is a PHP testing framework for the 21st century. You can follow its development [on GitHub](https://github.com/philliphq/phillip)
