footer
  span.copyright
    a(href='/')
      //- Tuxedo by Creative Stall from the Noun Project
      include /templates/icons/_mustache.svg
    
    :marked
      Created by <a href='https://molovo.co' target='_blank'>James Dinsdale</a>
  
  span.license
    :marked
      Released under the <a href='http://choosealicense.com/licenses/mit/' target='_blank'>MIT</a> license.
