footer
  span.copyright
    a(href="/")
      //- Tuxedo by Creative Stall from the Noun Project
      include /templates/icons/_mustache.svg
    
    :marked
      Created by [James Dinsdale](https://molovo.co)
  
  span.license
    :marked
      Released under the [MIT](http://choosealicense.com/licenses/mit/) license.
